*{
    box-sizing: border-box
  }
  body {
    text-align:center;
    margin:0;
    background-color: #ffe4c4;
  }
  h2{
    color:#06448b;
  }
  h4{
    background-color:#06448b ;
    color:white;
  }
  
  section {
    width: 100%;
    margin: auto 0;
  }

  nav ul{
    background-color: #f3dec4;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    border:2px solid #050566;
    margin:1rem 25px;
    padding:.5rem;

  }

  

  .frame {
    width:70%;
    height:300px;
    position:relative;
    margin:auto;
    object-fit:scale-down;
    border:8px solid black;
  }
  
  .slide {
    width:100%;
    height:100%;
    display:block;
    margin:auto;
    margin-bottom:1rem;
  }
  .visible{
    visibility:hidden;
  }
  
  .hide {
    opacity:0;
    transition:opacity .5s ease-out
  }
  
  .show{
    display:visible;
  }
  
  .current {
    transition: opacity .5s ease-out;
  }
  a{
    text-decoration: none;
  }
  
  .controls{
    margin:5px;
    padding:1rem;
  }

  .back-btn ,.next-btn{
    display:inline-block;
   margin:10px;
   color:#fff;
   justify-content:space-evenly;
    background-color: rgba(0,0,0,.9);
    padding:1rem; 
    
  }
  .abs-pos{
  position:absolute;
  
  }
  .caption{
    position:absolute;
    z-index: 3;
    color:#fff;
    background-color: rgba(0,0,0,.8);
    bottom: 0;
    width:100%;
    height:1rem;
    padding:1rem 1rem 2rem 1rem;
  
  }
  .placecontainer{

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin:5px 5px;
    padding:2px;
    border:5px solid black;
    
  }
.col{
  display:inline-block;
  padding:3px;
  border:1px solid black;
}

  .thumbnail{
    width:100px;
    height:100px;
    padding:2px;
    display:flex;
    flex-direction:row;
    margin:auto 0 ;
    border:1px solid black;
   
  }
  
  .tbcontainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    cursor:pointer;
    border:2px solid clack;
    overflow:scroll;
    scroll-behavior: smooth;
    
   
  }
  
  @media screen and (min-width:600px){
  
    .frame{
      width:80%;
      height:50vh;
    }
    
  }